<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>LegalToday - Legal Research Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/content.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/auth.css">
    <link rel="stylesheet" href="../static/css/results.css">
    <link rel="stylesheet" href="../static/css/documents.css">
</head>

<body>
    <div class="page-container">
        <div class="content-wrapper">
            <!--Header-->
            <header class="header">
                <a href="http://localhost:5000" class="logo">Legal<span>Today</span></a>
                <div class="header-buttons">
                    {% if login_status==0 %}
                <div class="header-buttons">
                    <button id="login-but" class="button-l">Login</button>
                    <button id="register-but" class="button-r">Registration</button>
                </div>
                {% else %}
                <div class="header-buttons">
                    <h1>{{ name }}</h1>
                </div>
                {% endif %}
                </div>
            </header>
            <!---Content-->
            <main class="main-content">
                <section class="d-section">
                        <div class="d-toolbar">
                             <a href="javascript:history.back()" class="link">&larr; Back to Results</a>
                        </div>
                        <!-- <div id="l-document" class="l-container"><div class="spinner"></div></div> -->
                        <article id="d-content" class="d-content">
                            <header class="d-header">
                                <h1 id="doc-title">{{ case.case_title if case else 'Document not found' }}</h1>
                                <p id="doc-citation" class="citation">{{ case.citation if case else '' }}</p>
                                <div class="metadata">
                                    <div><strong>Judges:</strong> <span id="doc-judges">{{ ', '.join(case.judges) if case else '' }}</span></div>
                                    <div><strong>Date:</strong> <span id="doc-date">{{ case.judgement_date if case else ''}}</span></div>
                                </div>
                            </header>
                            <div id="doc-full-text" class="d-body">
                                {{ case.full_text|safe if case else '<p>No Info Available</p>' }}
                            </div>
                        </article>
                </section>
            </main>
        </div>
    </div>
    <!--Login and Registration-->
    <div id="auth-mod" class="modal-backdrop">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="mod-title" class="text-2xl font-bold">Login</h3>
                <button id="close-modal-btn" class="close-modal-btn">&times;</button>
            </div>
            <form id="auth-form" method="POST">
                <div class="space-y-4" id="login-form-div">
                    <input type="email" placeholder="Email Address" class="form-input" name="email" id="login-email" required>
                    <input type="password" placeholder="Password" class="form-input" name="password" id = "login-pwd" required>
                </div>
                <button type="submit" id="mod-action-btn" class="button-primary full-width-btn">Login</button>
                <p id="mod-switch-text" class="mod-switch-text"> Create An Account Today:
                    <a href="#" id="mod-switch-link" class="text-blue-500 hover:underline">Register</a>
                </p>
            </form>
        </div>
    </div>

<script src="../static/js/main.js"></script>
    
</body>

</html>