<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
    <title>LegalToday - Legal Research Platform</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/layout.css">
    <link rel="stylesheet" href="../static/css/buttons.css">
    <link rel="stylesheet" href="../static/css/content.css">
    <link rel="stylesheet" href="../static/css/form.css">
    <link rel="stylesheet" href="../static/css/auth.css">
    <link rel="stylesheet" href="../static/css/results.css">
    <link rel="stylesheet" href="../static/css/documents.css">
    <link rel="stylesheet" href="../static/css/user.css">
</head>

<body>
    <div class="page-container">
        <div class="content-wrapper">
            <!--Header-->
            <header class="header">
                <a href="{{ url_for('index') }}" class="logo">Legal<span>Today</span></a>
                {% if login_status==False %}
                <div class="header-buttons">
                    <button id="login-but" class="button-l">Login</button>
                    <button id="register-but" class="button-r">Registration</button>
                </div>
                {% else %}
                <div class="header-buttons">
                    <div class="user-menu">
                    <span class="username">{{ name }}</span>
                    <div class="dropdown">
                        <a href="#" id="history">History</a>
                        <a href="#" id="logout">Logout</a>
                    </div>
                </div>
                </div>
                {% endif %}
            </header>
            <!---Content-->
            <main class="main-content">
                <section class="h-section">
                    <div class="h-text">
                        <h2>Legal Research Simplified ...</h2>
                        <p>Access a vast database of legal judgements from Supreme Court and access summarised views and
                            search over them</p>
                    </div>
                    <form id="search-form" class="search-form" action="{{ url_for('search_query') }}" method="GET">
                        <div class="search-input">
                            <input type="text" id="search-input" name="query" autocomplete="off"
                                placeholder="Search using case titles, citations, keywords..." required>
                            <button type="submit" class="button-r search-button">Search</button>
                        </div>
                    </form>
                    {% if past_queries %}
                    <div class="recent-history">
                    <ul>
                        {% for item in past_queries %}
                        <li class="history-item">{{ item[0] }}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    {% endif %}
                    </div>
                </section>
            </main>
        </div>
    </div>
    <!--Login and Registration-->
    <div id="auth-mod" class="modal-backdrop">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="mod-title" class="text-2xl font-bold">Login</h3>
                <button id="close-modal-btn" class="close-modal-btn">&times;</button>
            </div>
            <form id="auth-form" method="POST">
                <div class="space-y-4" id="login-form-div">
                    <input type="email" placeholder="Email Address" class="form-input" name="email" id="login-email" required>
                    <input type="password" placeholder="Password" class="form-input" name="password" id = "login-pwd" required>
                </div>
                <button type="submit" id="mod-action-btn" class="button-primary full-width-btn">Login</button>
                <p id="mod-switch-text" class="mod-switch-text"> Create An Account Today:
                    <a href="#" id="mod-switch-link" class="text-blue-500 hover:underline">Register</a>
                </p>
            </form>
        </div>
    </div>

    <script src="../static/js/main.js"></script>
</body>

</html>